<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="login-background">
    <div class="logincolor container">
        <div class="col-xs-12 col-sm-12">
            <div>
                <div class="ShopRegister-width">

                    <form action="">
                        <table>

                            <div class="con1 col-sm-2 col-xs-1"></div>
                            <div class="col-sm-8 col-xs-10">
                                <div class="ShopRegister-box">
                                    <div class="con1 col-sm-1 col-xs-1"></div>
                                    <div class="con1 col-sm-10 col-xs-10">
                                        <div class="account">
                                            <h5>設定帳戶</h5>
                                            <ul>
                                                <li>
                                                    <div class="text">攤商帳號：</div>
                                                    <div class="inp"><input type="text"/></div>
                                                    <div class="clearfix"></div>
                                                </li>
                                                <li>
                                                    <div class="text">設定密碼：</div>
                                                    <div class="inp"><input type="password"/></div>
                                                    <div class="clearfix"></div>
                                                </li>


                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="shopinfo">
                                            <h5>攤商資料</h5>
                                            <ul>
                                                <li>
                                                    <div class="text">攤商名稱：</div>
                                                    <div class="inp"><input type="text"/></div>

                                                </li>


                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="communication">
                                            <h5>通訊資料</h5>
                                            <ul>
                                                <li>
                                                    <div class="text">連絡電話：</div>
                                                    <div class="inp"><input type="text"/></div>

                                                </li>
                                                <li>
                                                    <div class="text">手機號碼：</div>
                                                    <div class="inp"><input type="text"/></div>

                                                </li>
                                                <li>
                                                    <div class="text">E-Mail信箱：</div>
                                                    <div class="inp"><input type="text"/></div>

                                                </li>


                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="safety">
                                            <h5>安全性確認</h5>
                                            <ul>
                                                <li>
                                                    <div class="text">驗證碼：</div>
                                                    <div class="inp"><input type="text"/></div>
                                                    <span>重新產生</span>

                                                </li>
                                                <li>
                                                    <div class="text">攤商合約：</div>
                                                    <div class="inp"><textarea cols="23"
                                                                               rows="6">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequatur dignissimos itaque iusto maiores, minima nisi officiis quia rem sapiente?
                                                        </textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <button type="submit"></button>

                                    </div>
                                    <div class="con1 col-sm-1 col-xs-1"></div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="con1 col-sm-2 col-xs-1"></div>


                        </table>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
