<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p></p>
    <form action="/api/shop/update" method="post">
        <input type="text" name="shop_id" placeholder="shop_id"><br>
        <input type="text" name="name_ch" placeholder="name_ch"><br>
        <input type="text" name="name_en" placeholder="name_en"><br>
        <input type="text" name="address" placeholder="address"><br>
        <input type="text" name="phone" placeholder="phone"><br>
        <input type="text" name="tags" placeholder="tags"><br>
        <input type="text" name="coupon" placeholder="coupon"><br>
        <input type="text" name="shift" placeholder="shift"><br>
        <input type="text" name="rate" placeholder="rate"><br>
        <input type="text" name="hours" placeholder="hours"><br>
        <input type="submit" value="test post">
    </form>
    <hr>
</body>
</html>