<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p></p>
    <form action="/api/member/add" method="post">
        <input type="text" name="name" placeholder="name"><br>
        <input type="text" name="nickname" placeholder="nickname"><br>
        <input type="text" name="account" placeholder="account"><br>
        <input type="text" name="password" placeholder="password"><br>
        <input type="text" name="cellphone" placeholder="cellphone"><br>
        <input type="text" name="area" placeholder="area"><br>
        <input type="text" name="birthday" placeholder="birthday"><br>
        <input type="text" name="email" placeholder="email"><br>
        <input type="text" name="sex" placeholder="man or girl"><br>
        <input type="text" name="img" placeholder="img"><br>
        <input type="submit" value="test post">
    </form>
    <hr>
</body>
</html>